.kits
  padding: 73px 0 90px
  .title
    font-weight: 600
    color: #0c0c0c
    text-align: center
    margin-bottom: 61px
    span
      color: $red
  .content
    margin-bottom: 48px
  .item-content
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 20px
    padding-right: 20px
  .images
    min-height: 344px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
  .item-title
    font-size: 26px
    line-height: 1.3
  .item-subtitle
    font-size: 14px
    line-height: 1.7
    color: $gray
    margin-top: 20px
  .btn
    display: block
    margin: 0 auto

  .slick-dots
    display: flex
    justify-content: center
    margin-top: 25px
    li
      width: 8px
      height: 8px
      flex-shrink: 0
      margin: 0 3px
      background: rgba($gray, .5)
      border-radius: 50%
      button
        display: none

      &.slick-active
        background: $red

@media (max-width: 992px)
  .kits
    .item-title
      margin-top: 20px

@media (max-width: 568px)
  .kits
    .item
      padding: 20px
      border: 1px solid $gray-border
      border-radius: 12px

@media (max-width: 480px)
  .kits
    .content
      margin-bottom: 25px
    .item-title
      margin-top: 0
      font-size: 20px
    .item-subtitle
      margin-top: 10px

