.schedule
  padding-bottom: 99px
  .title
    color: $main-text-color
    margin-bottom: 57px
    font-weight: 600
  .subtitle
    display: flex
    justify-content: space-between
  .name
    &:nth-child(2)
      text-align: center
      margin-left: 37px
  .text
    span
      font-size: 32px
      font-weight: 600
  .text-red
    font-size: 20px
    font-weight: 600
    line-height: 1.2
    color: $red
  .images
    margin: 0 auto 55px
  .markers
    display: flex
    justify-content: center
  .marker
    display: flex
    &:first-child
      margin-right: 33px
  .point
    margin-right: 11px

