.footer(id="footer")
  .wrapper
    .inner
      .left
        p.text Телефоны
        a.phone(href="tel:+78006004227") +7 (800) 600–42–27
        a.phone(href="tel:+74950000000") +7 (495) 000–00–00
        p.text Электронная почта
        a.email(href="mailto:info@hunter-company.ru") info@hunter-company.ru
        .content.content-computer
          a.logo(href="#")
            img.link(src="assets/img/commons/logo.png" srcset="assets/img/commons/logo.png 2x")
          p.content-text 75 лет проверенного американского качества напрямую от завода без посредников
      .right
        p.right-text Приезжайте к нам в офис
        p.address Москва, Дмитровское шоссе, 157, бизнес-центр «Гефест»
        p.text-mode Мы работаем каждый день <br>с 9:00 до 19:00
        a.btn(href="https://yandex.ru/maps/?rtext=~55.898609%2C37.540560" target="_blank") Построить маршрут
        .content.content-mobile
          a.logo(href="#")
            img.link(src="assets/img/commons/logo.png" srcset="assets/img/commons/logo.png 2x")
          p.content-text 75 лет проверенного американского качества напрямую от завода без посредников
