.plan(id="plan")
  .wrapper
    .inner
      h2.title.section-title Рассрочка <span>0%</span> <br>Лизинг с первым взносом <span>от 10%</span>
      form#form-plan.form
        input(type="hidden" name="formName" value="Получить одобрение")
        .top
          .sum
            p.text Желаемая сумма лизинга
            .price
              input.input-price(type="text" data-input="plan")
              span ₽
          .text-red Узнайте решение за 1 минуту
        .fake-range(data-min="1000000" data-max="4000000" data-start="1500000" data-step="5000" data-pips="1000000, 2500000, 4000000" data-postfix=" ₽" data-range="plan")
        input.real-range(type="range" name="leasing-sum" value="1500000" min="1000000" max="4000000")
        select.select2(data-placeholder="Для какого оборудования нужен лизинг?" name="leasing-equipment")
          option
          option Готовый комплект с подъемником
          option Готовый комплект на яме
          option Стенд


        .tel
          input.input.validate-input(type="tel" placeholder="Ваш номер телефона" name="phone")
          button.btn(type="submit") Получить одобрение

