.quality
  .wrapper
    .inner(data-bg="assets/img/10quality/bg.png")
      .gradient
      .content
        h2.title.section-title 75 лет проверенного американского качества

        .info
          +picture({
             classList: 'img',
             src: 'assets/img/10quality/img1.png',

          })
          .texts
            p.text С 1946 года, когда член Зала автомобильной славы Lee Hunter  основал Hunter Engineering, компания заработала репутацию новатора и лидера в области применения новейших технологий в обслуживании автомобильной ходовой части.
            p.text Компания начала свое существование из-за разряженного автомобильного аккумулятора. Lee Hunter построил самую успешную компанию по производству и продаже своих изобретений, которые вскоре после этого произвели революцию в индустрии оборудования для автомобилей.
