.schedule
  .wrapper
    .inner
      h2.title.section-title Установите стенд схода-развала Hunter и заработайте от 1 623 700 рублей в первый год
      .subtitle
        .name
          p.text Cредняя месячная прибыль <br><span>135 300</span> руб
        .name
          p.text.text-red Вложения окупаются <br> через 5 месяцев
        .name
          p.text Средний чек <br><span>1500</span> руб
        .name
          p.text Клиентов в месяц <br><span>135</span>
      img.images(src="assets/img/5schedule/schedule.png" srcset="assets/img/5schedule/schedule.png 2x")
      .markers
        .marker
          +svg('point', 'point')
          p.text Чистая прибыль
        .marker
          +svg('point-blue', 'point')
          p.text Выручка
