.service
  .wrapper
    .inner
      h2.title.section-title Мы закроем полностью потребность в автосервисном оборудовании
      .subtitle.subtitle-wa
        p Hunter WA с датчиками HawkEye Elite
        span Hunter QCD92
      .subtitle.subtitle-check
        p Hunter Quick Check Drive
        span Hunter QCD92
      .subtitle.subtitle-drive
        p Hunter Quick Check Drive
        span Hunter QCD92
