-
  let tradeList = [
    {
      text: 'Бизнес не останавливается, вы исключаете упущенную прибыль',
    },
    {
      text: 'Демонтаж, монтаж и транспортировка — всё за наш счет',
    },
  ]


.tradein(id="tradein")
  .wrapper
    .inner(data-bg="assets/img/8tradeIn/bg.jpg")
      h2.title.section-title Сдайте старое оборудование в trade-in и получите новое оборудование Hunter сразу&nbsp;же
      ul.list
         each trade in tradeList
           li.item
             img.marker(src="assets/img/7departure/marker.png")
             p.text !{trade.text}
      button.btn.btn_black(data-modal="confirm" data-title="Оценить свое оборудование" data-action="Оценить") Оценить свое оборудование
