.modal-product
  .modal-content
    max-width: 1120px

  .content
    display: flex
  .img
    flex-grow: 1
    margin-right: 30px
    &.mobile
      display: none
  .info
    max-width: 510px

  .title
    font-size: 26px
    font-weight: 600
    line-height: 1.2
    margin-bottom: 26px
  .suptitle
    font-size: 20px
    margin-bottom: 34px
  .list
    margin-left: 22px
    margin-bottom: 40px
  .item
    display: flex
    position: relative
    &:before
      display: inline-block
      content: ''
      width: 5px
      height: 5px
      border-radius: 50%
      background-color: $light-gray
      margin-right: 8px
      margin-top: 9px
  .text
    color: $light-gray
  .price
    font-size: 26px
    font-weight: 600
    line-height: 1.2
    color: $red
    margin-bottom: 30px

  .tel
    display: flex
    justify-content: space-between
    align-items: flex-start
  .input
    margin-right: 10px
  .btn
    white-space: nowrap

@media (max-width: 992px)
  .modal-product
    .info
      max-width: 465px
      flex-shrink: 0
    .title
      margin-bottom: 20px
      font-size: 24px
    .suptitle
      margin-bottom: 20px
      font-size: 16px
    .list
      font-size: 15px



@media (max-width: 768px)
  .modal-product
    .content
      justify-content: center
    .info
      max-width: 100%
      width: 100%
      text-align: center
    .title
      margin-bottom: 25px
      padding: 0 20px
      font-size: 22px
    .suptitle
      max-width: 380px
      margin: 0 auto 15px
      font-size: 14px
    .list
      display: none
    .img
      margin-right: 0
      &.mobile
        display: block
      &.desktop
        display: none
      img
        width: 50%
        max-width: 220px
        margin: 0 auto 20px
    .tel
      margin: 0 auto
      align-self: stretch

@media (max-width: 568px)
  .modal-product
    .title
      font-size: 20px
    .suptitle
      font-size: 15px
      margin-bottom: 15px
    .price
      font-size: 22px
    .tel
      flex-direction: column
      align-items: stretch
    .input
      margin-bottom: 15px
    .btn
      width: 100%
      padding-left: 20px
      padding-right: 20px




