extends ../layout/main


block variables
   - var title = 'Hunter'

block content
   include ..//includes/modules/header
   include ..//includes/modules/service
   include ..//includes/modules/kits
   include ..//includes/modules/quiz
   include ..//includes/modules/schedule
   include ..//includes/modules/products
   include ..//includes/modules/departure
   include ..//includes/modules/plan
   include ..//includes/modules/tradeIn
