.modal-bg.modal-confirm
  .modal-content
    .close
      +svg('close', 'modal-close')
    h3.title.title-small Введите телефон
    form#form-confirm.tel
      input(type="hidden" name="formName")
      input.input.validate-input(type="tel" placeholder="Ваш номер телефона" name="phone")
      button.btn(type="submit") Получить
