.modal-bg.modal-product
  .modal-content
    .close
      +svg('close', 'modal-close')
    .content

      +picture({
         classList: 'img desktop',
         src: 'assets/img/6products/big/1.jpg',
         lazy: false
      })

      .info
        h3.title Hunter WA и Hunter PA с датчиками Hawkeye
        +picture({
           classList: 'img mobile',
           src: 'assets/img/6products/1.jpg',
           lazy: false
        })
        p.suptitle
        ul.list
        p.price
        form#form-product.tel
          input(type="hidden" name="formName" value="Узнать точную стоимость")
          input(type="hidden" name="productName")
          input.input.validate-input(type="tel" placeholder="Ваш номер телефона" name="phone")
          button.btn(type="submit") Узнать точную стоимость

